<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/public/build/images/favicon.ico" type="image/ico" />

    <title>Gentelella Alela!</title>

    <!-- Bootstrap -->
    <link href="/public/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/public/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="/public/vendors/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- PNotify -->
    <link href="/public/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/public/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="/public/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/public/build/css/custom.min.css" rel="stylesheet">
    <style>
        .bg-level-1 {
            background-color: #43A047 !important;
            color: #fff;
        }
        .bg-level-2 {
            background-color: #2E7D32 !important;
            color: #fff;
        }
        .bg-level-3 {
            background-color: #FDD835 !important;
            color: #fff;
        }
        .bg-level-4 {
            background-color: #F9A825 !important;
            color: #fff;
        }
        .bg-level-5 {
            background-color: #F4511E !important;
            color: #fff;
        }
        .bg-level-6 {
            background-color: #D84315 !important;
            color: #fff;
        }
    </style>

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/admin" class="site_title">
                            <i class="fa fa-paw"></i> 
                            <span>Gentelella Alela!</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="/public/build/images/user.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2 class="admin-name"></h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a><i class="fa fa-home"></i> Lesson <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/admin/lesson">List</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle admin-name" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/public/build/images/user.png" alt="">
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;" id="admin-logout"><i class="fa fa-sign-out pull-right"></i>Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <%- body %>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="/public/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/public/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Datatables -->
    <script src="/public/vendors/datatables/js/jquery.dataTables.min.js"></script>
    <!-- PNotify -->
    <script src="/public/vendors/pnotify/dist/pnotify.js"></script>
    <script src="/public/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="/public/vendors/pnotify/dist/pnotify.nonblock.js"></script>
    <!-- Parsley -->
	<script src="/public/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/public/build/js/custom.min.js"></script>
    <%- js %>
    <script>
        $.ajax({
            type: 'GET',
            url: '/api/admin/me',
            success: function (res) {
                if (res.status === 'success') {
                    for (let index = 0; index < document.getElementsByClassName("admin-name").length; index++) {
                        document.getElementsByClassName("admin-name")[index].innerHTML = res.data.name;
                    }
                }
            }
        });

        document.getElementById('admin-logout').onclick = function() {
            $.ajax({
                type: 'POST',
                url: '/api/admin/logout',
                success: function (res) {
                    if (res.status === 'success') {
                        window.location.href = '/admin/login';
                    }
                }
            });
        };
    </script>
</body>

</html>