<div class="container py-3 mt-3">
    <div class="row text-center">
        <h2 class="text-success">OOPS!</h2>
        <h3>Something went wrong</h3>
        <p>Sorry, the page you requested could not be found. Please go back to the <a href="/" class="text-success">homepage</a>.</p>
    </div>
    <div class="row mt-3">
        <div class="col-sm-6 offset-md-3 text-center">
            <a href="/" class="btn btn-outline-secondary w-50">
                <i class="fa fa-home" aria-hidden="true"></i> HOME
            </a>
        </div>
    </div>
</div>

<%- contentFor('js') %>